.App-header {
  display: flex;
  flex-direction: line;
  align-items: center;
}

.App-header img {
  width: 150px;
  height: 150px;
}

.App-header h1 {
  color: #e1003c;
  font-family: "Roboto", sans-serif;
}

.App-body {
  margin-bottom: 760px;
}

.App-footer p {
  text-align: center;
}

.line {
  background-color: #e1003c;
  witdh: 2px;
  height: 2px;
}
