footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 550px;
}

.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-footer p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: italic;
  margin: 0;
}

footer .line {
  backgroud-color: #ff0000;
  width: 100%;
  height: 10px;
}
